<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome , <%= @amuser.name %></h1>
    <p>
      You have successfully signed up!,
      your username is: <%= @amuser.email %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Hello there, this is our image</p>

    <%= image_tag attachments['filename.jpg'].url, alt: 'your Photo', class: 'photos', style:"width:100px;heigth:100px;" %>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html> 