<h2 style="text-align:center;">Hello
 <%# <img src="https://www.simform.com/static/logo.svg" alt="Simform Icon" width="128" height="128">  %>
  <%= image_tag "https://www.simform.com/static/logo.svg", height: 30 %>
  </h2>