<div class="top-50 start-50 center">Update comments:
  <%= form_with(url: update_comments_event_path, method: :patch) do |form| %>
    <%= form.text_field :content, class: "form-control mb-3" %>
    <%= form.hidden_field :event_id, value: @event.id %>
    <div class="flex-row center">
      <%= form.submit "Update Comment", class: "btn-success center me-2 mt-4 border-0 p-2 rounded-pill" %>
    <% end %>
    <%#= button_to "Back to Event page", event_path(@event),method: :get,class:"btn-warning center mt-4 border-0 p-2 rounded-pill" %> &nbsp;
  </div>
</div>