<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> Welcome email </title>
    <style>
     h1{
        color:blue ;
    }
     p{
         color: green
        }
    </style>
  </head>

  <body>                                                                                                                                         
    <%= yield %>
  </body>
</html>